/* app.component.css */
body, html {
    height: 100%;
    margin: 0;
}
  
.container {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

app-pokemon-details {
    width: 280px;
    max-width: 600px;
}